This Notebook is for numpy analysis

In [6]:
import numpy as np
import pandas as pd
import seaborn

In [12]:
np_csv = np.genfromtxt('NCAA_data.csv',delimiter=',')
schools = np_csv[4:,5]
wins = np_csv[:,5]

In [13]:
print(schools)

[ 3.  7.  7.  6.  7.  6.  7. 10. 10.  9.  4. 10. 12.  8. 11. 14.  7. 16.
 11.  5. 11.  4. 16.  9. 14. 12. 17. 10.  7. 10. 12. 13.  5. 15. 14. 14.
 16. 14. 14.  9. 12. 18. 14. 13.  9. 15.  7.  8. 16. 14. 11. 14.  5. 19.
 13. 12. 16. 16. 18. 17.  8.  6.  9. 21.  5. 17.]

In [10]:
schools

array([nan, nan,  4.,  6.,  3.,  7.,  7.,  6.,  7.,  6.,  7., 10., 10.,
        9.,  4., 10., 12.,  8., 11., 14.,  7., 16., 11.,  5., 11.,  4.,
       16.,  9., 14., 12., 17., 10.,  7., 10., 12., 13.,  5., 15., 14.,
       14., 16., 14., 14.,  9., 12., 18., 14., 13.,  9., 15.,  7.,  8.,
       16., 14., 11., 14.,  5., 19., 13., 12., 16., 16., 18., 17.,  8.,
        6.,  9., 21.,  5., 17.])

In [11]:
print(np_csv)

[[   nan    nan    nan ...    nan    nan    nan]
 [   nan    nan    nan ...    nan    nan    nan]
 [  1.      nan    nan ... 125.15  86.2   38.95]
 ...
 [ 66.      nan    nan ... 110.49  97.49  13.  ]
 [ 67.      nan    nan ... 111.59  98.1   13.49]
 [ 68.      nan    nan ... 106.13  93.04  13.09]]