This Notebook is for Pandas analysis

In [1]:
import numpy as np
import pandas as pd
import seaborn

In [60]:
filename = 'NCAA_data.csv'
#create data frame:
data = pd.read_csv(filename)
csv = open(filename,'r')
csv_lines = csv.readlines()
csv_lines

['Rk,School,Conf,,W,L,Pts,Opp,MOV,,SOS,,OSRS,DSRS,SRS,ORtg,DRtg,NRtg\n',
 '1,Gonzaga,WCC,,33,4,87.6,64.9,22.78,,5.02,,18.6,9.21,27.8,125.15,86.2,38.95\n',
 '2,Duke,ACC,,32,6,82.7,67.8,14.92,,11.97,,17.52,9.37,26.89,121.57,84.18,37.39\n',
 '3,Virginia,ACC,,34,3,71.1,55.5,15.51,,9.8,,4.38,20.93,25.31,124.16,84.71,39.45\n',
 '4,Michigan State,Big Ten,,32,7,77.6,65,12.59,,12.35,,12.95,11.98,24.94,122.59,86.19,36.4\n',
 '5,North Carolina,ACC,,29,7,85.8,73.2,12.58,,11.35,,19.82,4.11,23.93,120.59,88.17,32.42\n',
 '6,Texas Tech,Big 12,,31,6,72.6,58.8,13.84,,9.11,,5.41,17.55,22.95,115.05,80.76,34.29\n',
 '7,Michigan,Big Ten,,30,7,69.6,58.3,11.27,,10.56,,4.25,17.58,21.83,115.38,82.52,32.87\n',
 '8,Tennessee,SEC,,31,6,82,69.7,12.3,,10.16,,14.69,6.87,21.55,123.13,92.12,31.01\n',
 '9,Kentucky,SEC,,30,7,75.8,64.7,11.14,,10.29,,8.31,13.12,21.43,119.35,87.29,32.06\n',
 '10,Purdue,Big Ten,,26,10,76.7,67.3,9.42,,11.99,,12.3,9.1,21.4,123.62,91.72,31.9\n',
 '11,Auburn,SEC,,30,10,79.7,68.8,10.95,,10.92,,13.14,7.7,20.84,121.29,91.6,29.69\n',
 '12,Virginia Tech,ACC,,26,9,73.5,62.1,11.49,,7.78,,6.52,12.75,19.27,119.77,90.48,29.29\n',
 '13,Houston,AAC,,33,4,75.3,61,14.3,,4.62,,6.31,12.6,18.92,116.08,88.24,27.84\n',
 '14,Kansas,Big 12,,26,10,75.7,70.1,5.56,,12.81,,10.91,7.46,18.37,115.59,89.19,26.4\n',
 '15,Iowa State,Big 12,,23,12,76.9,68.1,8.77,,9.32,,10.54,7.56,18.09,119.67,93.07,26.6\n',
 '16,Florida State,ACC,,29,8,74.9,67.2,7.73,,10.25,,8.71,9.28,17.98,113.41,87.46,25.95\n',
 '17,Wisconsin,Big Ten,,23,11,68.6,61.7,6.88,,11.01,,2.78,15.11,17.89,112.48,85.77,26.71\n',
 '18,Louisville,ACC,,20,14,74.6,68.4,6.24,,11.03,,8.42,8.85,17.27,115.41,90.35,25.06\n',
 '19,Louisiana State,SEC,,28,7,80.4,73.1,7.34,,9.16,,13.86,2.64,16.5,118.08,94.14,23.95\n',
 '20,Texas,Big 12,,21,16,71,66.4,4.59,,11.48,,4.68,11.39,16.08,114.62,90.79,23.83\n',
 '21,Maryland,Big Ten,,23,11,71.4,65.5,5.91,,10.09,,5.6,10.41,16.01,114.25,90.84,23.42\n',
 '22,Nevada,MWC,,29,5,80.1,66.8,13.32,,2.68,,9.4,6.61,16.01,114.6,91.97,22.63\n',
 '23,Mississippi State,SEC,,23,11,77.3,70.4,6.88,,9.08,,10.03,5.93,15.96,117.67,94.2,23.47\n',
 '24,Buffalo,MAC (East),,32,4,84.4,70.8,13.53,,2.63,,14.37,1.2,15.57,114.93,93.7,21.23\n',
 '25,Florida,SEC,,20,16,67.8,63.6,4.19,,11.23,,0.81,14.61,15.42,111.91,89.09,22.82\n',
 '26,Kansas State,Big 12,,25,9,65.8,59.6,6.21,,9.2,,-1.4,16.81,15.41,108.89,85.71,23.18\n',
 '27,Oklahoma,Big 12,,20,14,71.3,68.2,3.09,,12.23,,6.95,8.37,15.32,111.43,89.85,21.58\n',
 '28,North Carolina State,ACC,,24,12,80.1,71.3,8.72,,6.21,,12.56,2.37,14.93,114.61,94.05,20.56\n',
 '29,Nebraska,Big Ten,,19,17,71.8,67.3,4.58,,11.32,,6.67,8.19,14.86,114.68,93.58,21.1\n',
 '30,Marquette,Big East,,24,10,77.3,69.5,7.82,,6.96,,8.5,6.28,14.78,113.03,91.95,21.08\n',
 '31,Cincinnati,AAC,,28,7,71.7,62.7,9.03,,5.51,,2.64,11.9,14.54,113.44,91.66,21.78\n',
 '32,Villanova,Big East,,26,10,73.7,67.4,6.36,,7.97,,5.02,9.31,14.33,117.3,96.19,21.11\n',
 '33,Iowa,Big Ten,,23,12,78.3,73.9,4.43,,9.84,,12.59,1.68,14.27,119.15,98.31,20.84\n',
 '34,Oregon,Pac-12,,25,13,70,62.2,7.82,,6.14,,0.7,13.25,13.95,110.18,88.87,21.31\n',
 '35,Wofford,Southern,,30,5,82.3,65.6,16.69,,0.8,,7.66,6.26,13.93,118.3,97.06,21.24\n',
 '36,Ohio State,Big Ten,,20,15,69.1,66.2,2.89,,11,,2.84,11.05,13.89,110.66,90.53,20.13\n',
 '37,Clemson,ACC,,20,14,68.8,63.9,4.85,,8.99,,1.85,11.99,13.84,109.13,88.51,20.63\n',
 '38,Texas Christian,Big 12,,23,14,73.8,69.6,4.22,,9.62,,7.82,6.02,13.84,112.35,92.68,19.67\n',
 '39,Indiana,Big Ten,,19,16,71.5,67.8,3.71,,10.11,,5.08,8.75,13.82,110.47,90.65,19.82\n',
 '40,Syracuse,ACC,,20,14,69.7,66.1,3.65,,10.08,,3.37,10.35,13.73,111.5,90.85,20.65\n',
 '41,Baylor,Big 12,,20,14,71.8,67.7,4.12,,9.28,,5.27,8.13,13.4,114.87,94.86,20.01\n',
 '42,Central Florida,AAC,,24,9,72.3,64.5,7.79,,5.59,,3.01,10.37,13.37,111.74,91.97,19.77\n',
 "43,Saint Mary's (CA),WCC,,22,12,72.4,64.3,8.18,,4.41,,2.16,10.42,12.59,115.24,95.56,19.69\n",
 '44,Penn State,Big Ten,,14,18,69.7,68.6,1.03,,11.52,,4.56,7.98,12.55,109.7,90.79,18.91\n',
 '45,Minnesota,Big Ten,,22,14,70.6,69.4,1.25,,11.27,,5.5,7.03,12.52,111.5,93.36,18.15\n',
 '46,Mississippi,SEC,,20,13,75.3,71.1,4.18,,8.14,,7.75,4.58,12.32,113.28,95.1,18.18\n',
 '47,Washington,Pac-12,,27,9,69.8,64.8,5,,7.02,,1.22,10.79,12.02,108.16,90.41,17.75\n',
 '48,Creighton,Big East,,20,15,77.9,73.2,4.74,,8.59,,8.81,3.19,12,114.09,96.75,17.35\n',
 '49,Utah State,MWC,,28,7,78.7,67.1,11.54,,0.89,,6.81,5.17,11.98,111.38,93.96,17.42\n',
 '50,Virginia Commonwealth,A-10,,25,8,71,61.9,9.09,,2.87,,1.18,10.78,11.96,104.03,86.23,17.8\n',
 '51,Arkansas,SEC,,18,16,75.3,72.3,2.97,,8.79,,8.22,3.54,11.76,110.56,93.72,16.85\n',
 '52,Memphis,AAC,,22,14,80.1,74.4,5.61,,5.1,,11.46,-0.76,10.71,109.92,94.68,15.25\n',
 '53,Arizona State,Pac-12,,23,11,77.6,73.4,4.24,,6.05,,8.06,2.22,10.29,109.49,94.49,15\n',
 '54,Seton Hall,Big East,,20,14,73.8,71.9,1.91,,8.34,,5.79,4.47,10.26,109.57,94.27,15.3\n',
 '55,New Mexico State,WAC,,30,5,78.1,64.5,13.57,,-2.37,,3.91,6.15,10.06,113.06,97.77,15.3\n',
 '56,Northwestern,Big Ten,,13,19,65.9,65.1,0.81,,9.16,,-0.65,10.62,9.97,104.65,89.89,14.77\n',
 '57,Colorado,Pac-12,,23,13,73.6,67.5,6.08,,3.6,,3.14,6.55,9.69,107.63,93.66,13.97\n',
 '58,Dayton,A-10,,21,12,72.9,66.2,6.76,,2.91,,3.07,6.6,9.67,112.03,97.31,14.72\n',
 '59,Xavier,Big East,,19,16,72.2,70.6,1.54,,8.07,,3.46,6.15,9.61,112.28,98.07,14.21\n',
 '60,Alabama,SEC,,18,16,72,71.6,0.44,,9.02,,4.6,4.86,9.46,108.64,95,13.64\n',
 '61,Miami (FL),ACC,,14,18,71.8,71.1,0.69,,8.69,,4.11,5.27,9.38,110.71,97.19,13.52\n',
 '62,Butler,Big East,,16,17,71.9,70.8,1.12,,8.1,,3.97,5.25,9.22,112.25,98.62,13.63\n',
 '63,Lipscomb,A-Sun,,29,8,83.1,70.2,12.95,,-1.19,,9.85,-0.64,9.21,110.62,97.14,13.48\n',
 '64,Belmont,OVC,,27,6,86.9,73.9,13,,-2.59,,11.35,-2.23,9.12,114.75,101.38,13.37\n',
 '65,Fresno State,MWC,,23,9,76.5,67.6,8.94,,0.67,,4.13,4.87,8.99,109.84,96.56,13.27\n',
 '66,Illinois,Big Ten,,12,21,72.7,75.2,-2.58,,11.53,,7.87,1.08,8.96,110.49,97.49,13\n',
 '67,Murray State,OVC,,28,5,82.6,68.3,14.3,,-3.11,,6.13,2.83,8.96,111.59,98.1,13.49\n',
 '68,Rutgers,Big Ten,,14,17,67.9,68.8,-0.87,,9.76,,1.9,6.99,8.89,106.13,93.04,13.09\n',
 '=======\n',
 ',,,,,,,,,,,,SRS,SRS,SRS,Adjusted,Adjusted,Adjusted\n',
 'Rk,School,Conf,,W,L,Pts,Opp,MOV,,SOS,,OSRS,DSRS,SRS,ORtg,DRtg,NRtg\n',
 '1,Gonzaga,WCC,,33,4,87.6,64.9,22.78,,5.02,,18.6,9.21,27.8,125.15,86.2,38.95\n',
 '2,Duke,ACC,,32,6,82.7,67.8,14.92,,11.97,,17.52,9.37,26.89,121.57,84.18,37.39\n',
 '3,Virginia,ACC,,34,3,71.1,55.5,15.51,,9.8,,4.38,20.93,25.31,124.16,84.71,39.45\n',
 '4,Michigan State,Big Ten,,32,7,77.6,65,12.59,,12.35,,12.95,11.98,24.94,122.59,86.19,36.4\n',
 '5,North Carolina,ACC,,29,7,85.8,73.2,12.58,,11.35,,19.82,4.11,23.93,120.59,88.17,32.42\n',
 '6,Texas Tech,Big 12,,31,6,72.6,58.8,13.84,,9.11,,5.41,17.55,22.95,115.05,80.76,34.29\n',
 '7,Michigan,Big Ten,,30,7,69.6,58.3,11.27,,10.56,,4.25,17.58,21.83,115.38,82.52,32.87\n',
 '8,Tennessee,SEC,,31,6,82,69.7,12.3,,10.16,,14.69,6.87,21.55,123.13,92.12,31.01\n',
 '9,Kentucky,SEC,,30,7,75.8,64.7,11.14,,10.29,,8.31,13.12,21.43,119.35,87.29,32.06\n',
 '10,Purdue,Big Ten,,26,10,76.7,67.3,9.42,,11.99,,12.3,9.1,21.4,123.62,91.72,31.9\n',
 '11,Auburn,SEC,,30,10,79.7,68.8,10.95,,10.92,,13.14,7.7,20.84,121.29,91.6,29.69\n',
 '12,Virginia Tech,ACC,,26,9,73.5,62.1,11.49,,7.78,,6.52,12.75,19.27,119.77,90.48,29.29\n',
 '13,Houston,AAC,,33,4,75.3,61,14.3,,4.62,,6.31,12.6,18.92,116.08,88.24,27.84\n',
 '14,Kansas,Big 12,,26,10,75.7,70.1,5.56,,12.81,,10.91,7.46,18.37,115.59,89.19,26.4\n',
 '15,Iowa State,Big 12,,23,12,76.9,68.1,8.77,,9.32,,10.54,7.56,18.09,119.67,93.07,26.6\n',
 '16,Florida State,ACC,,29,8,74.9,67.2,7.73,,10.25,,8.71,9.28,17.98,113.41,87.46,25.95\n',
 '17,Wisconsin,Big Ten,,23,11,68.6,61.7,6.88,,11.01,,2.78,15.11,17.89,112.48,85.77,26.71\n',
 '18,Louisville,ACC,,20,14,74.6,68.4,6.24,,11.03,,8.42,8.85,17.27,115.41,90.35,25.06\n',
 '19,Louisiana State,SEC,,28,7,80.4,73.1,7.34,,9.16,,13.86,2.64,16.5,118.08,94.14,23.95\n',
 '20,Texas,Big 12,,21,16,71,66.4,4.59,,11.48,,4.68,11.39,16.08,114.62,90.79,23.83\n',
 '21,Maryland,Big Ten,,23,11,71.4,65.5,5.91,,10.09,,5.6,10.41,16.01,114.25,90.84,23.42\n',
 '22,Nevada,MWC,,29,5,80.1,66.8,13.32,,2.68,,9.4,6.61,16.01,114.6,91.97,22.63\n',
 '23,Mississippi State,SEC,,23,11,77.3,70.4,6.88,,9.08,,10.03,5.93,15.96,117.67,94.2,23.47\n',
 '24,Buffalo,MAC (East),,32,4,84.4,70.8,13.53,,2.63,,14.37,1.2,15.57,114.93,93.7,21.23\n',
 '25,Florida,SEC,,20,16,67.8,63.6,4.19,,11.23,,0.81,14.61,15.42,111.91,89.09,22.82\n',
 '26,Kansas State,Big 12,,25,9,65.8,59.6,6.21,,9.2,,-1.4,16.81,15.41,108.89,85.71,23.18\n',
 '27,Oklahoma,Big 12,,20,14,71.3,68.2,3.09,,12.23,,6.95,8.37,15.32,111.43,89.85,21.58\n',
 '28,North Carolina State,ACC,,24,12,80.1,71.3,8.72,,6.21,,12.56,2.37,14.93,114.61,94.05,20.56\n',
 '29,Nebraska,Big Ten,,19,17,71.8,67.3,4.58,,11.32,,6.67,8.19,14.86,114.68,93.58,21.1\n',
 '30,Marquette,Big East,,24,10,77.3,69.5,7.82,,6.96,,8.5,6.28,14.78,113.03,91.95,21.08\n',
 '31,Cincinnati,AAC,,28,7,71.7,62.7,9.03,,5.51,,2.64,11.9,14.54,113.44,91.66,21.78\n',
 '32,Villanova,Big East,,26,10,73.7,67.4,6.36,,7.97,,5.02,9.31,14.33,117.3,96.19,21.11\n',
 '33,Iowa,Big Ten,,23,12,78.3,73.9,4.43,,9.84,,12.59,1.68,14.27,119.15,98.31,20.84\n',
 '34,Oregon,Pac-12,,25,13,70,62.2,7.82,,6.14,,0.7,13.25,13.95,110.18,88.87,21.31\n',
 '35,Wofford,Southern,,30,5,82.3,65.6,16.69,,0.8,,7.66,6.26,13.93,118.3,97.06,21.24\n',
 '36,Ohio State,Big Ten,,20,15,69.1,66.2,2.89,,11,,2.84,11.05,13.89,110.66,90.53,20.13\n',
 '37,Clemson,ACC,,20,14,68.8,63.9,4.85,,8.99,,1.85,11.99,13.84,109.13,88.51,20.63\n',
 '38,Texas Christian,Big 12,,23,14,73.8,69.6,4.22,,9.62,,7.82,6.02,13.84,112.35,92.68,19.67\n',
 '39,Indiana,Big Ten,,19,16,71.5,67.8,3.71,,10.11,,5.08,8.75,13.82,110.47,90.65,19.82\n',
 '40,Syracuse,ACC,,20,14,69.7,66.1,3.65,,10.08,,3.37,10.35,13.73,111.5,90.85,20.65\n',
 '41,Baylor,Big 12,,20,14,71.8,67.7,4.12,,9.28,,5.27,8.13,13.4,114.87,94.86,20.01\n',
 '42,Central Florida,AAC,,24,9,72.3,64.5,7.79,,5.59,,3.01,10.37,13.37,111.74,91.97,19.77\n',
 "43,Saint Mary's (CA),WCC,,22,12,72.4,64.3,8.18,,4.41,,2.16,10.42,12.59,115.24,95.56,19.69\n",
 '44,Penn State,Big Ten,,14,18,69.7,68.6,1.03,,11.52,,4.56,7.98,12.55,109.7,90.79,18.91\n',
 '45,Minnesota,Big Ten,,22,14,70.6,69.4,1.25,,11.27,,5.5,7.03,12.52,111.5,93.36,18.15\n',
 '46,Mississippi,SEC,,20,13,75.3,71.1,4.18,,8.14,,7.75,4.58,12.32,113.28,95.1,18.18\n',
 '47,Washington,Pac-12,,27,9,69.8,64.8,5,,7.02,,1.22,10.79,12.02,108.16,90.41,17.75\n',
 '48,Creighton,Big East,,20,15,77.9,73.2,4.74,,8.59,,8.81,3.19,12,114.09,96.75,17.35\n',
 '49,Utah State,MWC,,28,7,78.7,67.1,11.54,,0.89,,6.81,5.17,11.98,111.38,93.96,17.42\n',
 '50,Virginia Commonwealth,A-10,,25,8,71,61.9,9.09,,2.87,,1.18,10.78,11.96,104.03,86.23,17.8\n',
 '51,Arkansas,SEC,,18,16,75.3,72.3,2.97,,8.79,,8.22,3.54,11.76,110.56,93.72,16.85\n',
 '52,Memphis,AAC,,22,14,80.1,74.4,5.61,,5.1,,11.46,-0.76,10.71,109.92,94.68,15.25\n',
 '53,Arizona State,Pac-12,,23,11,77.6,73.4,4.24,,6.05,,8.06,2.22,10.29,109.49,94.49,15\n',
 '54,Seton Hall,Big East,,20,14,73.8,71.9,1.91,,8.34,,5.79,4.47,10.26,109.57,94.27,15.3\n',
 '55,New Mexico State,WAC,,30,5,78.1,64.5,13.57,,-2.37,,3.91,6.15,10.06,113.06,97.77,15.3\n',
 '56,Northwestern,Big Ten,,13,19,65.9,65.1,0.81,,9.16,,-0.65,10.62,9.97,104.65,89.89,14.77\n',
 '57,Colorado,Pac-12,,23,13,73.6,67.5,6.08,,3.6,,3.14,6.55,9.69,107.63,93.66,13.97\n',
 '58,Dayton,A-10,,21,12,72.9,66.2,6.76,,2.91,,3.07,6.6,9.67,112.03,97.31,14.72\n',
 '59,Xavier,Big East,,19,16,72.2,70.6,1.54,,8.07,,3.46,6.15,9.61,112.28,98.07,14.21\n',
 '60,Alabama,SEC,,18,16,72,71.6,0.44,,9.02,,4.6,4.86,9.46,108.64,95,13.64\n',
 '61,Miami (FL),ACC,,14,18,71.8,71.1,0.69,,8.69,,4.11,5.27,9.38,110.71,97.19,13.52\n',
 '62,Butler,Big East,,16,17,71.9,70.8,1.12,,8.1,,3.97,5.25,9.22,112.25,98.62,13.63\n',
 '63,Lipscomb,A-Sun,,29,8,83.1,70.2,12.95,,-1.19,,9.85,-0.64,9.21,110.62,97.14,13.48\n',
 '64,Belmont,OVC,,27,6,86.9,73.9,13,,-2.59,,11.35,-2.23,9.12,114.75,101.38,13.37\n',
 '65,Fresno State,MWC,,23,9,76.5,67.6,8.94,,0.67,,4.13,4.87,8.99,109.84,96.56,13.27\n',
 '66,Illinois,Big Ten,,12,21,72.7,75.2,-2.58,,11.53,,7.87,1.08,8.96,110.49,97.49,13\n',
 '67,Murray State,OVC,,28,5,82.6,68.3,14.3,,-3.11,,6.13,2.83,8.96,111.59,98.1,13.49\n',
 '68,Rutgers,Big Ten,,14,17,67.9,68.8,-0.87,,9.76,,1.9,6.99,8.89,106.13,93.04,13.09\n',
 '>>>>>>> 05cc9e4f3c10068f5ffc645077c14a027046baa7\n']

In [65]:
print('(rows,columns):',data.shape,'\n')
print('Describe Index:',data.index,'\n')
print('Describe Dataframe Columns:',data.columns,'\n')
print('Info on DataFrame:',data.info,'\n')
print('# of non-NA values:',data.shape,'\n')

(rows,columns): (140, 18)

Describe Index: RangeIndex(start=0, stop=140, step=1)

Describe Dataframe Columns: Index(['Rk', 'School', 'Conf', 'Unnamed: 3', 'W', 'L', 'Pts', 'Opp', 'MOV',
       'Unnamed: 9', 'SOS', 'Unnamed: 11', 'OSRS', 'DSRS', 'SRS', 'ORtg',
       'DRtg', 'NRtg'],
      dtype='object')

Info on DataFrame: <bound method DataFrame.info of                                                    Rk                 School  \
0                                                   1                Gonzaga
1                                                   2                   Duke
2                                                   3               Virginia
3                                                   4         Michigan State
4                                                   5         North Carolina
5                                                   6             Texas Tech
6                                                   7               Michigan
7                                                   8              Tennessee
8                                                   9               Kentucky
9                                                  10                 Purdue
10                                                 11                 Auburn
11                                                 12          Virginia Tech
12                                                 13                Houston
13                                                 14                 Kansas
14                                                 15             Iowa State
15                                                 16          Florida State
16                                                 17              Wisconsin
17                                                 18             Louisville
18                                                 19        Louisiana State
19                                                 20                  Texas
20                                                 21               Maryland
21                                                 22                 Nevada
22                                                 23      Mississippi State
23                                                 24                Buffalo
24                                                 25                Florida
25                                                 26           Kansas State
26                                                 27               Oklahoma
27                                                 28   North Carolina State
28                                                 29               Nebraska
29                                                 30              Marquette
..                                                ...                    ...
110                                                40               Syracuse
111                                                41                 Baylor
112                                                42        Central Florida
113                                                43      Saint Mary's (CA)
114                                                44             Penn State
115                                                45              Minnesota
116                                                46            Mississippi
117                                                47             Washington
118                                                48              Creighton
119                                                49             Utah State
120                                                50  Virginia Commonwealth
121                                                51               Arkansas
122                                                52                Memphis
123                                                53          Arizona State
124                                                54             Seton Hall
125                                                55       New Mexico State
126                                                56           Northwestern
127                                                57               Colorado
128                                                58                 Dayton
129                                                59                 Xavier
130                                                60                Alabama
131                                                61             Miami (FL)
132                                                62                 Butler
133                                                63               Lipscomb
134                                                64                Belmont
135                                                65           Fresno State
136                                                66               Illinois
137                                                67           Murray State
138                                                68                Rutgers
139  >>>>>>> 05cc9e4f3c10068f5ffc645077c14a027046baa7                    NaN

           Conf  Unnamed: 3    W    L   Pts   Opp    MOV  Unnamed: 9    SOS  \
0           WCC         NaN   33    4  87.6  64.9  22.78         NaN   5.02
1           ACC         NaN   32    6  82.7  67.8  14.92         NaN  11.97
2           ACC         NaN   34    3  71.1  55.5  15.51         NaN    9.8
3       Big Ten         NaN   32    7  77.6    65  12.59         NaN  12.35
4           ACC         NaN   29    7  85.8  73.2  12.58         NaN  11.35
5        Big 12         NaN   31    6  72.6  58.8  13.84         NaN   9.11
6       Big Ten         NaN   30    7  69.6  58.3  11.27         NaN  10.56
7           SEC         NaN   31    6    82  69.7   12.3         NaN  10.16
8           SEC         NaN   30    7  75.8  64.7  11.14         NaN  10.29
9       Big Ten         NaN   26   10  76.7  67.3   9.42         NaN  11.99
10          SEC         NaN   30   10  79.7  68.8  10.95         NaN  10.92
11          ACC         NaN   26    9  73.5  62.1  11.49         NaN   7.78
12          AAC         NaN   33    4  75.3    61   14.3         NaN   4.62
13       Big 12         NaN   26   10  75.7  70.1   5.56         NaN  12.81
14       Big 12         NaN   23   12  76.9  68.1   8.77         NaN   9.32
15          ACC         NaN   29    8  74.9  67.2   7.73         NaN  10.25
16      Big Ten         NaN   23   11  68.6  61.7   6.88         NaN  11.01
17          ACC         NaN   20   14  74.6  68.4   6.24         NaN  11.03
18          SEC         NaN   28    7  80.4  73.1   7.34         NaN   9.16
19       Big 12         NaN   21   16    71  66.4   4.59         NaN  11.48
20      Big Ten         NaN   23   11  71.4  65.5   5.91         NaN  10.09
21          MWC         NaN   29    5  80.1  66.8  13.32         NaN   2.68
22          SEC         NaN   23   11  77.3  70.4   6.88         NaN   9.08
23   MAC (East)         NaN   32    4  84.4  70.8  13.53         NaN   2.63
24          SEC         NaN   20   16  67.8  63.6   4.19         NaN  11.23
25       Big 12         NaN   25    9  65.8  59.6   6.21         NaN    9.2
26       Big 12         NaN   20   14  71.3  68.2   3.09         NaN  12.23
27          ACC         NaN   24   12  80.1  71.3   8.72         NaN   6.21
28      Big Ten         NaN   19   17  71.8  67.3   4.58         NaN  11.32
29     Big East         NaN   24   10  77.3  69.5   7.82         NaN   6.96
..          ...         ...  ...  ...   ...   ...    ...         ...    ...
110         ACC         NaN   20   14  69.7  66.1   3.65         NaN  10.08
111      Big 12         NaN   20   14  71.8  67.7   4.12         NaN   9.28
112         AAC         NaN   24    9  72.3  64.5   7.79         NaN   5.59
113         WCC         NaN   22   12  72.4  64.3   8.18         NaN   4.41
114     Big Ten         NaN   14   18  69.7  68.6   1.03         NaN  11.52
115     Big Ten         NaN   22   14  70.6  69.4   1.25         NaN  11.27
116         SEC         NaN   20   13  75.3  71.1   4.18         NaN   8.14
117      Pac-12         NaN   27    9  69.8  64.8      5         NaN   7.02
118    Big East         NaN   20   15  77.9  73.2   4.74         NaN   8.59
119         MWC         NaN   28    7  78.7  67.1  11.54         NaN   0.89
120        A-10         NaN   25    8    71  61.9   9.09         NaN   2.87
121         SEC         NaN   18   16  75.3  72.3   2.97         NaN   8.79
122         AAC         NaN   22   14  80.1  74.4   5.61         NaN    5.1
123      Pac-12         NaN   23   11  77.6  73.4   4.24         NaN   6.05
124    Big East         NaN   20   14  73.8  71.9   1.91         NaN   8.34
125         WAC         NaN   30    5  78.1  64.5  13.57         NaN  -2.37
126     Big Ten         NaN   13   19  65.9  65.1   0.81         NaN   9.16
127      Pac-12         NaN   23   13  73.6  67.5   6.08         NaN    3.6
128        A-10         NaN   21   12  72.9  66.2   6.76         NaN   2.91
129    Big East         NaN   19   16  72.2  70.6   1.54         NaN   8.07
130         SEC         NaN   18   16    72  71.6   0.44         NaN   9.02
131         ACC         NaN   14   18  71.8  71.1   0.69         NaN   8.69
132    Big East         NaN   16   17  71.9  70.8   1.12         NaN    8.1
133       A-Sun         NaN   29    8  83.1  70.2  12.95         NaN  -1.19
134         OVC         NaN   27    6  86.9  73.9     13         NaN  -2.59
135         MWC         NaN   23    9  76.5  67.6   8.94         NaN   0.67
136     Big Ten         NaN   12   21  72.7  75.2  -2.58         NaN  11.53
137         OVC         NaN   28    5  82.6  68.3   14.3         NaN  -3.11
138     Big Ten         NaN   14   17  67.9  68.8  -0.87         NaN   9.76
139         NaN         NaN  NaN  NaN   NaN   NaN    NaN         NaN    NaN

     Unnamed: 11   OSRS   DSRS    SRS    ORtg    DRtg   NRtg
0            NaN   18.6   9.21   27.8  125.15    86.2  38.95
1            NaN  17.52   9.37  26.89  121.57   84.18  37.39
2            NaN   4.38  20.93  25.31  124.16   84.71  39.45
3            NaN  12.95  11.98  24.94  122.59   86.19   36.4
4            NaN  19.82   4.11  23.93  120.59   88.17  32.42
5            NaN   5.41  17.55  22.95  115.05   80.76  34.29
6            NaN   4.25  17.58  21.83  115.38   82.52  32.87
7            NaN  14.69   6.87  21.55  123.13   92.12  31.01
8            NaN   8.31  13.12  21.43  119.35   87.29  32.06
9            NaN   12.3    9.1   21.4  123.62   91.72   31.9
10           NaN  13.14    7.7  20.84  121.29    91.6  29.69
11           NaN   6.52  12.75  19.27  119.77   90.48  29.29
12           NaN   6.31   12.6  18.92  116.08   88.24  27.84
13           NaN  10.91   7.46  18.37  115.59   89.19   26.4
14           NaN  10.54   7.56  18.09  119.67   93.07   26.6
15           NaN   8.71   9.28  17.98  113.41   87.46  25.95
16           NaN   2.78  15.11  17.89  112.48   85.77  26.71
17           NaN   8.42   8.85  17.27  115.41   90.35  25.06
18           NaN  13.86   2.64   16.5  118.08   94.14  23.95
19           NaN   4.68  11.39  16.08  114.62   90.79  23.83
20           NaN    5.6  10.41  16.01  114.25   90.84  23.42
21           NaN    9.4   6.61  16.01   114.6   91.97  22.63
22           NaN  10.03   5.93  15.96  117.67    94.2  23.47
23           NaN  14.37    1.2  15.57  114.93    93.7  21.23
24           NaN   0.81  14.61  15.42  111.91   89.09  22.82
25           NaN   -1.4  16.81  15.41  108.89   85.71  23.18
26           NaN   6.95   8.37  15.32  111.43   89.85  21.58
27           NaN  12.56   2.37  14.93  114.61   94.05  20.56
28           NaN   6.67   8.19  14.86  114.68   93.58   21.1
29           NaN    8.5   6.28  14.78  113.03   91.95  21.08
..           ...    ...    ...    ...     ...     ...    ...
110          NaN   3.37  10.35  13.73   111.5   90.85  20.65
111          NaN   5.27   8.13   13.4  114.87   94.86  20.01
112          NaN   3.01  10.37  13.37  111.74   91.97  19.77
113          NaN   2.16  10.42  12.59  115.24   95.56  19.69
114          NaN   4.56   7.98  12.55   109.7   90.79  18.91
115          NaN    5.5   7.03  12.52   111.5   93.36  18.15
116          NaN   7.75   4.58  12.32  113.28    95.1  18.18
117          NaN   1.22  10.79  12.02  108.16   90.41  17.75
118          NaN   8.81   3.19     12  114.09   96.75  17.35
119          NaN   6.81   5.17  11.98  111.38   93.96  17.42
120          NaN   1.18  10.78  11.96  104.03   86.23   17.8
121          NaN   8.22   3.54  11.76  110.56   93.72  16.85
122          NaN  11.46  -0.76  10.71  109.92   94.68  15.25
123          NaN   8.06   2.22  10.29  109.49   94.49     15
124          NaN   5.79   4.47  10.26  109.57   94.27   15.3
125          NaN   3.91   6.15  10.06  113.06   97.77   15.3
126          NaN  -0.65  10.62   9.97  104.65   89.89  14.77
127          NaN   3.14   6.55   9.69  107.63   93.66  13.97
128          NaN   3.07    6.6   9.67  112.03   97.31  14.72
129          NaN   3.46   6.15   9.61  112.28   98.07  14.21
130          NaN    4.6   4.86   9.46  108.64      95  13.64
131          NaN   4.11   5.27   9.38  110.71   97.19  13.52
132          NaN   3.97   5.25   9.22  112.25   98.62  13.63
133          NaN   9.85  -0.64   9.21  110.62   97.14  13.48
134          NaN  11.35  -2.23   9.12  114.75  101.38  13.37
135          NaN   4.13   4.87   8.99  109.84   96.56  13.27
136          NaN   7.87   1.08   8.96  110.49   97.49     13
137          NaN   6.13   2.83   8.96  111.59    98.1  13.49
138          NaN    1.9   6.99   8.89  106.13   93.04  13.09
139          NaN    NaN    NaN    NaN     NaN     NaN    NaN

[140 rows x 18 columns]>

# of non-NA values: (140, 18)

In [67]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 18 columns):
Rk             139 non-null object
School         137 non-null object
Conf           137 non-null object
Unnamed: 3     0 non-null float64
W              137 non-null object
L              137 non-null object
Pts            137 non-null object
Opp            137 non-null object
MOV            137 non-null object
Unnamed: 9     0 non-null float64
SOS            137 non-null object
Unnamed: 11    0 non-null float64
OSRS           138 non-null object
DSRS           138 non-null object
SRS            138 non-null object
ORtg           138 non-null object
DRtg           138 non-null object
NRtg           138 non-null object
dtypes: float64(3), object(15)
memory usage: 19.8+ KB

In [94]:
data[:-5]

,Rk,School,Conf,Unnamed: 3,W,L,Pts,Opp,MOV,Unnamed: 9,SOS,Unnamed: 11,OSRS,DSRS,SRS,ORtg,DRtg,NRtg
0,1,Gonzaga,WCC,NaN,33,4,87.6,64.9,22.78,NaN,5.02,NaN,18.6,9.21,27.8,125.15,86.2,38.95
1,2,Duke,ACC,NaN,32,6,82.7,67.8,14.92,NaN,11.97,NaN,17.52,9.37,26.89,121.57,84.18,37.39
2,3,Virginia,ACC,NaN,34,3,71.1,55.5,15.51,NaN,9.8,NaN,4.38,20.93,25.31,124.16,84.71,39.45
3,4,Michigan State,Big Ten,NaN,32,7,77.6,65,12.59,NaN,12.35,NaN,12.95,11.98,24.94,122.59,86.19,36.4
4,5,North Carolina,ACC,NaN,29,7,85.8,73.2,12.58,NaN,11.35,NaN,19.82,4.11,23.93,120.59,88.17,32.42
5,6,Texas Tech,Big 12,NaN,31,6,72.6,58.8,13.84,NaN,9.11,NaN,5.41,17.55,22.95,115.05,80.76,34.29
6,7,Michigan,Big Ten,NaN,30,7,69.6,58.3,11.27,NaN,10.56,NaN,4.25,17.58,21.83,115.38,82.52,32.87
7,8,Tennessee,SEC,NaN,31,6,82,69.7,12.3,NaN,10.16,NaN,14.69,6.87,21.55,123.13,92.12,31.01
8,9,Kentucky,SEC,NaN,30,7,75.8,64.7,11.14,NaN,10.29,NaN,8.31,13.12,21.43,119.35,87.29,32.06
9,10,Purdue,Big Ten,NaN,26,10,76.7,67.3,9.42,NaN,11.99,NaN,12.3,9.1,21.4,123.62,91.72,31.9
10,11,Auburn,SEC,NaN,30,10,79.7,68.8,10.95,NaN,10.92,NaN,13.14,7.7,20.84,121.29,91.6,29.69
11,12,Virginia Tech,ACC,NaN,26,9,73.5,62.1,11.49,NaN,7.78,NaN,6.52,12.75,19.27,119.77,90.48,29.29
12,13,Houston,AAC,NaN,33,4,75.3,61,14.3,NaN,4.62,NaN,6.31,12.6,18.92,116.08,88.24,27.84
13,14,Kansas,Big 12,NaN,26,10,75.7,70.1,5.56,NaN,12.81,NaN,10.91,7.46,18.37,115.59,89.19,26.4
14,15,Iowa State,Big 12,NaN,23,12,76.9,68.1,8.77,NaN,9.32,NaN,10.54,7.56,18.09,119.67,93.07,26.6
15,16,Florida State,ACC,NaN,29,8,74.9,67.2,7.73,NaN,10.25,NaN,8.71,9.28,17.98,113.41,87.46,25.95
16,17,Wisconsin,Big Ten,NaN,23,11,68.6,61.7,6.88,NaN,11.01,NaN,2.78,15.11,17.89,112.48,85.77,26.71
17,18,Louisville,ACC,NaN,20,14,74.6,68.4,6.24,NaN,11.03,NaN,8.42,8.85,17.27,115.41,90.35,25.06
18,19,Louisiana State,SEC,NaN,28,7,80.4,73.1,7.34,NaN,9.16,NaN,13.86,2.64,16.5,118.08,94.14,23.95
19,20,Texas,Big 12,NaN,21,16,71,66.4,4.59,NaN,11.48,NaN,4.68,11.39,16.08,114.62,90.79,23.83
20,21,Maryland,Big Ten,NaN,23,11,71.4,65.5,5.91,NaN,10.09,NaN,5.6,10.41,16.01,114.25,90.84,23.42
21,22,Nevada,MWC,NaN,29,5,80.1,66.8,13.32,NaN,2.68,NaN,9.4,6.61,16.01,114.6,91.97,22.63
22,23,Mississippi State,SEC,NaN,23,11,77.3,70.4,6.88,NaN,9.08,NaN,10.03,5.93,15.96,117.67,94.2,23.47
23,24,Buffalo,MAC (East),NaN,32,4,84.4,70.8,13.53,NaN,2.63,NaN,14.37,1.2,15.57,114.93,93.7,21.23
24,25,Florida,SEC,NaN,20,16,67.8,63.6,4.19,NaN,11.23,NaN,0.81,14.61,15.42,111.91,89.09,22.82
25,26,Kansas State,Big 12,NaN,25,9,65.8,59.6,6.21,NaN,9.2,NaN,-1.4,16.81,15.41,108.89,85.71,23.18
26,27,Oklahoma,Big 12,NaN,20,14,71.3,68.2,3.09,NaN,12.23,NaN,6.95,8.37,15.32,111.43,89.85,21.58
27,28,North Carolina State,ACC,NaN,24,12,80.1,71.3,8.72,NaN,6.21,NaN,12.56,2.37,14.93,114.61,94.05,20.56
28,29,Nebraska,Big Ten,NaN,19,17,71.8,67.3,4.58,NaN,11.32,NaN,6.67,8.19,14.86,114.68,93.58,21.1
29,30,Marquette,Big East,NaN,24,10,77.3,69.5,7.82,NaN,6.96,NaN,8.5,6.28,14.78,113.03,91.95,21.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,35,Wofford,Southern,NaN,30,5,82.3,65.6,16.69,NaN,0.8,NaN,7.66,6.26,13.93,118.3,97.06,21.24
106,36,Ohio State,Big Ten,NaN,20,15,69.1,66.2,2.89,NaN,11,NaN,2.84,11.05,13.89,110.66,90.53,20.13
107,37,Clemson,ACC,NaN,20,14,68.8,63.9,4.85,NaN,8.99,NaN,1.85,11.99,13.84,109.13,88.51,20.63
108,38,Texas Christian,Big 12,NaN,23,14,73.8,69.6,4.22,NaN,9.62,NaN,7.82,6.02,13.84,112.35,92.68,19.67
109,39,Indiana,Big Ten,NaN,19,16,71.5,67.8,3.71,NaN,10.11,NaN,5.08,8.75,13.82,110.47,90.65,19.82
110,40,Syracuse,ACC,NaN,20,14,69.7,66.1,3.65,NaN,10.08,NaN,3.37,10.35,13.73,111.5,90.85,20.65
111,41,Baylor,Big 12,NaN,20,14,71.8,67.7,4.12,NaN,9.28,NaN,5.27,8.13,13.4,114.87,94.86,20.01
112,42,Central Florida,AAC,NaN,24,9,72.3,64.5,7.79,NaN,5.59,NaN,3.01,10.37,13.37,111.74,91.97,19.77
113,43,Saint Mary's (CA),WCC,NaN,22,12,72.4,64.3,8.18,NaN,4.41,NaN,2.16,10.42,12.59,115.24,95.56,19.69
114,44,Penn State,Big Ten,NaN,14,18,69.7,68.6,1.03,NaN,11.52,NaN,4.56,7.98,12.55,109.7,90.79,18.91
115,45,Minnesota,Big Ten,NaN,22,14,70.6,69.4,1.25,NaN,11.27,NaN,5.5,7.03,12.52,111.5,93.36,18.15
116,46,Mississippi,SEC,NaN,20,13,75.3,71.1,4.18,NaN,8.14,NaN,7.75,4.58,12.32,113.28,95.1,18.18
117,47,Washington,Pac-12,NaN,27,9,69.8,64.8,5,NaN,7.02,NaN,1.22,10.79,12.02,108.16,90.41,17.75
118,48,Creighton,Big East,NaN,20,15,77.9,73.2,4.74,NaN,8.59,NaN,8.81,3.19,12,114.09,96.75,17.35
119,49,Utah State,MWC,NaN,28,7,78.7,67.1,11.54,NaN,0.89,NaN,6.81,5.17,11.98,111.38,93.96,17.42
120,50,Virginia Commonwealth,A-10,NaN,25,8,71,61.9,9.09,NaN,2.87,NaN,1.18,10.78,11.96,104.03,86.23,17.8
121,51,Arkansas,SEC,NaN,18,16,75.3,72.3,2.97,NaN,8.79,NaN,8.22,3.54,11.76,110.56,93.72,16.85
122,52,Memphis,AAC,NaN,22,14,80.1,74.4,5.61,NaN,5.1,NaN,11.46,-0.76,10.71,109.92,94.68,15.25
123,53,Arizona State,Pac-12,NaN,23,11,77.6,73.4,4.24,NaN,6.05,NaN,8.06,2.22,10.29,109.49,94.49,15
124,54,Seton Hall,Big East,NaN,20,14,73.8,71.9,1.91,NaN,8.34,NaN,5.79,4.47,10.26,109.57,94.27,15.3
125,55,New Mexico State,WAC,NaN,30,5,78.1,64.5,13.57,NaN,-2.37,NaN,3.91,6.15,10.06,113.06,97.77,15.3
126,56,Northwestern,Big Ten,NaN,13,19,65.9,65.1,0.81,NaN,9.16,NaN,-0.65,10.62,9.97,104.65,89.89,14.77
127,57,Colorado,Pac-12,NaN,23,13,73.6,67.5,6.08,NaN,3.6,NaN,3.14,6.55,9.69,107.63,93.66,13.97
128,58,Dayton,A-10,NaN,21,12,72.9,66.2,6.76,NaN,2.91,NaN,3.07,6.6,9.67,112.03,97.31,14.72
129,59,Xavier,Big East,NaN,19,16,72.2,70.6,1.54,NaN,8.07,NaN,3.46,6.15,9.61,112.28,98.07,14.21
130,60,Alabama,SEC,NaN,18,16,72,71.6,0.44,NaN,9.02,NaN,4.6,4.86,9.46,108.64,95,13.64
131,61,Miami (FL),ACC,NaN,14,18,71.8,71.1,0.69,NaN,8.69,NaN,4.11,5.27,9.38,110.71,97.19,13.52
132,62,Butler,Big East,NaN,16,17,71.9,70.8,1.12,NaN,8.1,NaN,3.97,5.25,9.22,112.25,98.62,13.63
133,63,Lipscomb,A-Sun,NaN,29,8,83.1,70.2,12.95,NaN,-1.19,NaN,9.85,-0.64,9.21,110.62,97.14,13.48
134,64,Belmont,OVC,NaN,27,6,86.9,73.9,13,NaN,-2.59,NaN,11.35,-2.23,9.12,114.75,101.38,13.37

In [58]:
#print first 5 records
data[:5]

,Rk,School,Conf,Unnamed: 3,W,L,Pts,Opp,MOV,Unnamed: 9,SOS,Unnamed: 11,OSRS,DSRS,SRS,ORtg,DRtg,NRtg
0,1,Gonzaga,WCC,NaN,33,4,87.6,64.9,22.78,NaN,5.02,NaN,18.6,9.21,27.8,125.15,86.2,38.95
1,2,Duke,ACC,NaN,32,6,82.7,67.8,14.92,NaN,11.97,NaN,17.52,9.37,26.89,121.57,84.18,37.39
2,3,Virginia,ACC,NaN,34,3,71.1,55.5,15.51,NaN,9.8,NaN,4.38,20.93,25.31,124.16,84.71,39.45
3,4,Michigan State,Big Ten,NaN,32,7,77.6,65,12.59,NaN,12.35,NaN,12.95,11.98,24.94,122.59,86.19,36.4
4,5,North Carolina,ACC,NaN,29,7,85.8,73.2,12.58,NaN,11.35,NaN,19.82,4.11,23.93,120.59,88.17,32.42

In [52]:
wins = data['W']
type(wins)

pandas.core.series.Series

In [95]:
data.sort_values(by='W')

,Rk,School,Conf,Unnamed: 3,W,L,Pts,Opp,MOV,Unnamed: 9,SOS,Unnamed: 11,OSRS,DSRS,SRS,ORtg,DRtg,NRtg
136,66,Illinois,Big Ten,NaN,12,21,72.7,75.2,-2.58,NaN,11.53,NaN,7.87,1.08,8.96,110.49,97.49,13
65,66,Illinois,Big Ten,NaN,12,21,72.7,75.2,-2.58,NaN,11.53,NaN,7.87,1.08,8.96,110.49,97.49,13
126,56,Northwestern,Big Ten,NaN,13,19,65.9,65.1,0.81,NaN,9.16,NaN,-0.65,10.62,9.97,104.65,89.89,14.77
55,56,Northwestern,Big Ten,NaN,13,19,65.9,65.1,0.81,NaN,9.16,NaN,-0.65,10.62,9.97,104.65,89.89,14.77
138,68,Rutgers,Big Ten,NaN,14,17,67.9,68.8,-0.87,NaN,9.76,NaN,1.9,6.99,8.89,106.13,93.04,13.09
114,44,Penn State,Big Ten,NaN,14,18,69.7,68.6,1.03,NaN,11.52,NaN,4.56,7.98,12.55,109.7,90.79,18.91
67,68,Rutgers,Big Ten,NaN,14,17,67.9,68.8,-0.87,NaN,9.76,NaN,1.9,6.99,8.89,106.13,93.04,13.09
60,61,Miami (FL),ACC,NaN,14,18,71.8,71.1,0.69,NaN,8.69,NaN,4.11,5.27,9.38,110.71,97.19,13.52
43,44,Penn State,Big Ten,NaN,14,18,69.7,68.6,1.03,NaN,11.52,NaN,4.56,7.98,12.55,109.7,90.79,18.91
131,61,Miami (FL),ACC,NaN,14,18,71.8,71.1,0.69,NaN,8.69,NaN,4.11,5.27,9.38,110.71,97.19,13.52
132,62,Butler,Big East,NaN,16,17,71.9,70.8,1.12,NaN,8.1,NaN,3.97,5.25,9.22,112.25,98.62,13.63
61,62,Butler,Big East,NaN,16,17,71.9,70.8,1.12,NaN,8.1,NaN,3.97,5.25,9.22,112.25,98.62,13.63
130,60,Alabama,SEC,NaN,18,16,72,71.6,0.44,NaN,9.02,NaN,4.6,4.86,9.46,108.64,95,13.64
121,51,Arkansas,SEC,NaN,18,16,75.3,72.3,2.97,NaN,8.79,NaN,8.22,3.54,11.76,110.56,93.72,16.85
50,51,Arkansas,SEC,NaN,18,16,75.3,72.3,2.97,NaN,8.79,NaN,8.22,3.54,11.76,110.56,93.72,16.85
59,60,Alabama,SEC,NaN,18,16,72,71.6,0.44,NaN,9.02,NaN,4.6,4.86,9.46,108.64,95,13.64
129,59,Xavier,Big East,NaN,19,16,72.2,70.6,1.54,NaN,8.07,NaN,3.46,6.15,9.61,112.28,98.07,14.21
58,59,Xavier,Big East,NaN,19,16,72.2,70.6,1.54,NaN,8.07,NaN,3.46,6.15,9.61,112.28,98.07,14.21
99,29,Nebraska,Big Ten,NaN,19,17,71.8,67.3,4.58,NaN,11.32,NaN,6.67,8.19,14.86,114.68,93.58,21.1
38,39,Indiana,Big Ten,NaN,19,16,71.5,67.8,3.71,NaN,10.11,NaN,5.08,8.75,13.82,110.47,90.65,19.82
28,29,Nebraska,Big Ten,NaN,19,17,71.8,67.3,4.58,NaN,11.32,NaN,6.67,8.19,14.86,114.68,93.58,21.1
109,39,Indiana,Big Ten,NaN,19,16,71.5,67.8,3.71,NaN,10.11,NaN,5.08,8.75,13.82,110.47,90.65,19.82
47,48,Creighton,Big East,NaN,20,15,77.9,73.2,4.74,NaN,8.59,NaN,8.81,3.19,12,114.09,96.75,17.35
45,46,Mississippi,SEC,NaN,20,13,75.3,71.1,4.18,NaN,8.14,NaN,7.75,4.58,12.32,113.28,95.1,18.18
111,41,Baylor,Big 12,NaN,20,14,71.8,67.7,4.12,NaN,9.28,NaN,5.27,8.13,13.4,114.87,94.86,20.01
40,41,Baylor,Big 12,NaN,20,14,71.8,67.7,4.12,NaN,9.28,NaN,5.27,8.13,13.4,114.87,94.86,20.01
39,40,Syracuse,ACC,NaN,20,14,69.7,66.1,3.65,NaN,10.08,NaN,3.37,10.35,13.73,111.5,90.85,20.65
53,54,Seton Hall,Big East,NaN,20,14,73.8,71.9,1.91,NaN,8.34,NaN,5.79,4.47,10.26,109.57,94.27,15.3
36,37,Clemson,ACC,NaN,20,14,68.8,63.9,4.85,NaN,8.99,NaN,1.85,11.99,13.84,109.13,88.51,20.63
35,36,Ohio State,Big Ten,NaN,20,15,69.1,66.2,2.89,NaN,11,NaN,2.84,11.05,13.89,110.66,90.53,20.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,35,Wofford,Southern,NaN,30,5,82.3,65.6,16.69,NaN,0.8,NaN,7.66,6.26,13.93,118.3,97.06,21.24
125,55,New Mexico State,WAC,NaN,30,5,78.1,64.5,13.57,NaN,-2.37,NaN,3.91,6.15,10.06,113.06,97.77,15.3
8,9,Kentucky,SEC,NaN,30,7,75.8,64.7,11.14,NaN,10.29,NaN,8.31,13.12,21.43,119.35,87.29,32.06
54,55,New Mexico State,WAC,NaN,30,5,78.1,64.5,13.57,NaN,-2.37,NaN,3.91,6.15,10.06,113.06,97.77,15.3
10,11,Auburn,SEC,NaN,30,10,79.7,68.8,10.95,NaN,10.92,NaN,13.14,7.7,20.84,121.29,91.6,29.69
6,7,Michigan,Big Ten,NaN,30,7,69.6,58.3,11.27,NaN,10.56,NaN,4.25,17.58,21.83,115.38,82.52,32.87
105,35,Wofford,Southern,NaN,30,5,82.3,65.6,16.69,NaN,0.8,NaN,7.66,6.26,13.93,118.3,97.06,21.24
77,7,Michigan,Big Ten,NaN,30,7,69.6,58.3,11.27,NaN,10.56,NaN,4.25,17.58,21.83,115.38,82.52,32.87
79,9,Kentucky,SEC,NaN,30,7,75.8,64.7,11.14,NaN,10.29,NaN,8.31,13.12,21.43,119.35,87.29,32.06
81,11,Auburn,SEC,NaN,30,10,79.7,68.8,10.95,NaN,10.92,NaN,13.14,7.7,20.84,121.29,91.6,29.69
5,6,Texas Tech,Big 12,NaN,31,6,72.6,58.8,13.84,NaN,9.11,NaN,5.41,17.55,22.95,115.05,80.76,34.29
76,6,Texas Tech,Big 12,NaN,31,6,72.6,58.8,13.84,NaN,9.11,NaN,5.41,17.55,22.95,115.05,80.76,34.29
78,8,Tennessee,SEC,NaN,31,6,82,69.7,12.3,NaN,10.16,NaN,14.69,6.87,21.55,123.13,92.12,31.01
7,8,Tennessee,SEC,NaN,31,6,82,69.7,12.3,NaN,10.16,NaN,14.69,6.87,21.55,123.13,92.12,31.01
3,4,Michigan State,Big Ten,NaN,32,7,77.6,65,12.59,NaN,12.35,NaN,12.95,11.98,24.94,122.59,86.19,36.4
72,2,Duke,ACC,NaN,32,6,82.7,67.8,14.92,NaN,11.97,NaN,17.52,9.37,26.89,121.57,84.18,37.39
74,4,Michigan State,Big Ten,NaN,32,7,77.6,65,12.59,NaN,12.35,NaN,12.95,11.98,24.94,122.59,86.19,36.4
23,24,Buffalo,MAC (East),NaN,32,4,84.4,70.8,13.53,NaN,2.63,NaN,14.37,1.2,15.57,114.93,93.7,21.23
1,2,Duke,ACC,NaN,32,6,82.7,67.8,14.92,NaN,11.97,NaN,17.52,9.37,26.89,121.57,84.18,37.39
94,24,Buffalo,MAC (East),NaN,32,4,84.4,70.8,13.53,NaN,2.63,NaN,14.37,1.2,15.57,114.93,93.7,21.23
0,1,Gonzaga,WCC,NaN,33,4,87.6,64.9,22.78,NaN,5.02,NaN,18.6,9.21,27.8,125.15,86.2,38.95
71,1,Gonzaga,WCC,NaN,33,4,87.6,64.9,22.78,NaN,5.02,NaN,18.6,9.21,27.8,125.15,86.2,38.95
12,13,Houston,AAC,NaN,33,4,75.3,61,14.3,NaN,4.62,NaN,6.31,12.6,18.92,116.08,88.24,27.84
83,13,Houston,AAC,NaN,33,4,75.3,61,14.3,NaN,4.62,NaN,6.31,12.6,18.92,116.08,88.24,27.84
73,3,Virginia,ACC,NaN,34,3,71.1,55.5,15.51,NaN,9.8,NaN,4.38,20.93,25.31,124.16,84.71,39.45
2,3,Virginia,ACC,NaN,34,3,71.1,55.5,15.51,NaN,9.8,NaN,4.38,20.93,25.31,124.16,84.71,39.45
70,Rk,School,Conf,NaN,W,L,Pts,Opp,MOV,NaN,SOS,NaN,OSRS,DSRS,SRS,ORtg,DRtg,NRtg
68,=======,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SRS,SRS,SRS,Adjusted,Adjusted,Adjusted
139,>>>>>>> 05cc9e4f3c10068f5ffc645077c14a027046baa7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
data.loc[[1], ['Wins']]

  Wins
1   33